<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>The News Bank | Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://kit.fontawesome.com/cf30b19bdf.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<!-- Header -->
		<header>
			<img class="nav-logo" src="{{ url_for('static', filename='images/newsBankLightLogo.png') }}" >

			<ul class="nav">
				<li>
					<a href="/analyze?q=GOOGL">
						Google (GOOGL)
					</a>
				</li>
				<li>
					<a href="/analyze?q=DIS">
						Disney (DIS)
					</a>
				</li>
				<li>
					<a href="/analyze?q=AMZN">
						Amazon (AMZN)
					</a>
				</li>
				<li>
					<a href="/analyze?q=FB">
						Facebook (FB)
					</a>
				</li>
				<li>
					<a href="/analyze?q=AAPL">
						Apple (AAPL)
					</a>
				</li>
				<li>
					<a href="/analyze?q=COF">
						Capital One (COF)
					</a>
				</li>
				<li>
					<a href="/analyze?q=NXST">
						Nexstar (NXST)
					</a>
				</li>
			</ul>

		</header>

		<main>
			<section class="left">
				<h1> We use machine learning to predict stock prices based on the worlds news about companies and stocks </h1>
				<p>Give us a shot <i class="fas fa-arrow-right"></i></p>
				<img class="news-circles" src="{{ url_for('static', filename='images/newsCircles.png') }}">
			</section>

			<section class="right">
				<form class="" action="/analyze" method="get">
					<p>Enter the <span class="emphasis">company</span> or <span class="emphasis">stock name</span> below and let us do the magic<p>
					<input type="text" name='q' placeholder="Enter company or stock name here"/>
					<button class="std-btn">Assess</button>
				</form>

				<!-- It can be other statistics here -->
				<section class="stats">
					<h1>More than</h1>
					<p class="counter">0</p>
					<h1>news analyzed</h1>
				</section>
			</section>
		</main>
		<script>
			setTimeout(() => {
				const counterP = document.querySelector(".counter");
				let counter = 1;

				counterP.classList.add("active");

				const intervalId = setInterval(() => {
					counterP.innerHTML = counter;
					counter++;

					if (counter > 50000) {
						clearInterval(intervalId);
					}
				}, 0.1)
			}, 1000);
		</script>
	</body>
</html>
